<h1>Dodaj sliko</h1>
<form action='/questions' method='post' enctype='multipart/form-data'>
  <input type='text' name='title' placeholder='Naslov' required />
  <input type='text' name='description' placeholder='Opis' required />
  <div class='tp'>
    <input type='submit' value='Objavi' />
  </div>
</form>