<h1>Dodaj vprašanje</h1>
<form action='/questions' method='POST'>
  <input type='text' name='title' placeholder='Naslov' required />
  <input type='text' name='description' placeholder='Opis' required />

  <input type='submit' value='Objavi' />
</form>